@import "src/styles/mixins";

.user-container{
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
  padding: var(--general--padding-768);
  align-items: center;

  @media (min-width: 768px) {
    justify-content: space-evenly;
  }

  @media (min-width: 992px) {
    padding: var(--general--padding-992);
  }

  &-photo {
    width: 300px;
    height: 250px;

    @media (min-width: 992px) {
      width: 350px;
      height: 300px;
    }
  }

  .user-info{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 200px;

    @media (min-width: 992px) {
      width: 400px;
    }

    &-btns{
      display: flex;
      gap: 10px;
      flex-wrap: wrap;
      justify-content: center;

      button{
        @include btn-theme();
      }
    }
  }
}