.form-container {
  width: 100%;
  flex-direction: column;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (min-width: 768px) {
    //height: 100vh;
  }

  &__paragraph {
    font-size: var(--font--size--paragraph);
    text-decoration: none;
    color: black;
    margin: 20px 0;
  }

  &__wrapper {
    width: 90%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
    border-radius: 5px;
    margin-bottom: 20px;

    @media (min-width: 768px) {
      width: 600px;
    }
  }

  .form {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 30px;

    &__paragraph {
      font-size: 18px;
      padding: 10px 0;
      border-bottom: 1px solid lightgray;
    }

    &__block {
      position: relative;
    }

    &__btn {
      padding: 8px;
      font-size: 18px;
      background-color: aliceblue;
      border: 1px solid gray;
      border-radius: 10px;
      cursor: pointer;
      transition: background-color 0.5s;

      &:hover {
        background-color: lightgray;
      }
    }

    &__create-link{
      text-align: center;
      color: black;
      text-decoration: none;
      transition: color 0.4s;

      &:hover{
        color: gray;
      }
    }
  }
}