@import "src/styles/mixins";

.history-wrapper{
  display: flex;
  flex-direction: column;
  gap: 20px;

  .history-table {
    width: 100%;
    border-collapse: collapse;

    th, td {
      border: 1px solid #ddd;
      padding: 8px;
      text-align: left;
    }

    th {
      background-color: #f2f2f2;
    }

    tr:hover {
      background-color: #f5f5f5;
    }
  }

  .lightgreen{
    background-color: lightgreen;
  }

  button{
    @include btn-theme();
  }
}
