.coach-block{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;

  &-paragraph{
    font-size: var(--font--size--paragraph);
  }

  .sports-btns{
    display: flex;
    gap: 15px;

    button{
      background: white;
      text-decoration: none;
      color: black;
      border: 2px solid;
      padding: 5px;
      cursor: pointer;
      transition: background-color 0.4s;
      border-radius: 0;
      width: 100%;
    }

    .active{
      background-color: aquamarine;
    }
  }

  .coach-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }

  .coach-table th, .coach-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }

  .coach-table th {
    background-color: #f2f2f2;
  }

  .coach-table tbody tr:hover {
    background-color: #f5f5f5;
  }

  .details-link{
    color: #e8864b;
    text-decoration: none;
    cursor: pointer;
    transition: opacity 0.5s;

    &:hover{
      opacity: 0.5;
    }
  }
}

