@import "src/styles/mixins";

.link-log-wrapper{
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--general--padding-768);
  text-align: center;

  .link-log{
    background: lightgray;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-radius: 20px;

    &-btn{
      margin-left: 10px;
      @include btn-theme();
    }
  }

}

.account-wrapper{
  padding: var(--general--padding-768);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  align-items: center;

  @media (min-width: 992px) {
    padding: var(--general--padding-992);
    justify-content: space-around;
  }

  &__photo{
    width: 300px;
    border-radius: 30px;

    @media (min-width: 992px) {
      width: 370px;
    }
  }

  .account-form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-basis: 450px;
    gap: 15px;

    &__btn{
      @include btn-theme();
    }

    .price-wrapper{
      position: relative;

      span{
        position: absolute;
        top: 0;
        left: 55px;
      }
    }
  }
}
.client-list-animation-enter {
  opacity: 0;
}
.client-list-animation-enter-active {
  opacity: 1;
  transition: opacity 300ms;
}
.client-list-animation-exit {
  opacity: 1;
}
.client-list-animation-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}