.reports {
  position: fixed;
  z-index: 1;
  background-color: lightgray;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;

  button {
    background:none;
    color: #ffffff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 8px;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;

    th, td {
      border: 1px solid #ddd;
      padding: 8px;
      text-align: left;
    }

    th {
      background-color: #f2f2f2;
    }
  }
}
