.event-list-wrapper{
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  position: relative;
  gap: 30px;
  flex-grow: 1;

  @media (min-width: 992px) {
    padding: var(--general--padding-992);
  }

  &-img{
    position: absolute;
    top: 0;
    left: 20px;

    @media (min-width: 992px) {
      display: none;
    }
  }

  .filter-mob-animation-enter {
    opacity: 0;
    transform: scale(0.9);
  }
  .filter-mob-animation-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 300ms, transform 300ms;
  }
  .filter-mob-animation-exit {
    opacity: 1;
  }
  .filter-mob-animation-exit-active {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 300ms, transform 300ms;
  }
}