@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&family=Roboto&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-repeat: no-repeat;
  font-family: "Open Sans";
  font-size: 15px;
  letter-spacing: 1px;

  @media (min-width: 768px) {
    font-size: 17px;
  }

  @media (min-width: 992px) {
    font-size: 18px;
  }
}