:root{
  --general--margin--768: 0.5rem;
  --general--margin--992: 2rem;
  --general--margin--330: 2rem 0;
  --general--padding-768: 1rem;
  --general--padding-992: 1rem 3rem;
  --font--size--paragraph: 25px;
}